.*.swp
__pycache__
.*.swo
Aramis.bun
Aramis.fin
Aramis.flo
Aramis.mag
Aramis.mat
Aramis.out
Aramis.par
Aramis.sig
Aramis.twi
Athos.bun
Athos.fin
Athos.flo
Athos.mag
Athos.mat
Athos.out
Athos.par
Athos.sig
Athos.twi
Aramis.bun.h5
Aramis.mag.h5
Aramis.out.h5
Aramis.par.h5
Aramis.sig.h5
Aramis.twi.h5
Athos_Pre_Undulator.bun
Athos_Pre_Undulator.fin
Athos_Pre_Undulator.flo
Athos_Pre_Undulator.mag
Athos_Pre_Undulator.mat
Athos_Pre_Undulator.mat.h5
Athos_Pre_Undulator.out
Athos_Pre_Undulator.par
Athos_Pre_Undulator.sig
Athos_Pre_Undulator.twi
passiveWFMeasurement.log
Athos_Post_Undulator.bun
Athos_Post_Undulator.fin
Athos_Post_Undulator.flo
Athos_Post_Undulator.mag
Athos_Post_Undulator.mat
Athos_Post_Undulator.out
Athos_Post_Undulator.par
Athos_Post_Undulator.sig
Athos_Full.bun
Athos_Full.fin
Athos_Full.flo
Athos_Full.mag
Athos_Full.mat
Athos_Full.out
Athos_Full.par
Athos_Full.sig
Athos_Full.twi
tests/data
pwfm_scripts
elegant/*.sdds
Aramis_Full.bun
Aramis_Full.ele
Aramis_Full.fin
Aramis_Full.flo
Aramis_Full.mag
Aramis_Full.mat
Aramis_Full.mat.h5
Aramis_Full.out
Aramis_Full.sig
Aramis_Full.twi

