.*.swp
__pycache__
.*.swo
Aramis.bun
Aramis.fin
Aramis.flo
Aramis.mag
Aramis.mat
Aramis.out
Aramis.par
Aramis.sig
Aramis.twi
Athos.bun
Athos.fin
Athos.flo
Athos.mag
Athos.mat
Athos.out
Athos.par
Athos.sig
Athos.twi
Aramis.bun.h5
Aramis.mag.h5
Aramis.out.h5
Aramis.par.h5
Aramis.sig.h5
Aramis.twi.h5
Athos_Pre_Undulator.bun
Athos_Pre_Undulator.fin
Athos_Pre_Undulator.flo
Athos_Pre_Undulator.mag
Athos_Pre_Undulator.mat
Athos_Pre_Undulator.mat.h5
Athos_Pre_Undulator.out
Athos_Pre_Undulator.par
Athos_Pre_Undulator.sig
Athos_Pre_Undulator.twi
passiveWFMeasurement.log
