.*.swp
__pycache__
.*.swo
Aramis.bun
Aramis.fin
Aramis.flo
Aramis.mag
Aramis.mat
Aramis.out
Aramis.par
Aramis.sig
Aramis.twi
Athos.bun
Athos.fin
Athos.flo
Athos.mag
Athos.mat
Athos.out
Athos.par
Athos.sig
Athos.twi
Aramis.bun.h5
Aramis.mag.h5
Aramis.out.h5
Aramis.par.h5
Aramis.sig.h5
Aramis.twi.h5
Athos_Pre_Undulator.bun
Athos_Pre_Undulator.fin
Athos_Pre_Undulator.flo
Athos_Pre_Undulator.mag
Athos_Pre_Undulator.mat
Athos_Pre_Undulator.mat.h5
Athos_Pre_Undulator.out
Athos_Pre_Undulator.par
Athos_Pre_Undulator.sig
Athos_Pre_Undulator.twi
passiveWFMeasurement.log
Athos_Post_Undulator.bun
Athos_Post_Undulator.fin
Athos_Post_Undulator.flo
Athos_Post_Undulator.mag
Athos_Post_Undulator.mat
Athos_Post_Undulator.out
Athos_Post_Undulator.par
Athos_Post_Undulator.sig
Athos_Full.bun
Athos_Full.fin
Athos_Full.flo
Athos_Full.mag
Athos_Full.mat
Athos_Full.out
Athos_Full.par
Athos_Full.sig
Athos_Full.twi
tests/data
pwfm_scripts
elegant/*.sdds
Aramis_Full.bun
Aramis_Full.ele
Aramis_Full.fin
Aramis_Full.flo
Aramis_Full.mag
Aramis_Full.mat
Aramis_Full.mat.h5
Aramis_Full.out
Aramis_Full.sig
Aramis_Full.twi



tests/elegant_test/Athos_ref.S10BC01.DBPM090.sdds
tests/elegant_test/Athos_ref.S10MA01.DBPM010.sdds
tests/elegant_test/Athos_ref.S20SY01.DBPM060.sdds
tests/elegant_test/Athos_ref.SINBC01.DBPM100.sdds
tests/elegant_test/Athos_ref.SINDI01.DBPM010.sdds
tests/elegant_test/Athos_ref.SINLH03.DBPM010.sdds
tests/elegant_test/Athos_ref.SINSB04.DBPM220.sdds
tests/elegant_test/Athos_ref.cen
tests/elegant_test/Athos_ref.cen.h5
tests/elegant_test/Athos_ref.fin
tests/elegant_test/Athos_ref.mag
tests/elegant_test/Athos_ref.mag.h5
tests/elegant_test/Athos_ref.mat
tests/elegant_test/Athos_ref.mat.h5
tests/elegant_test/Athos_ref.out
tests/elegant_test/Athos_ref.out.h5
tests/elegant_test/Athos_ref.par
tests/elegant_test/Athos_ref.par.h5
tests/elegant_test/Athos_ref.sig
tests/elegant_test/Athos_ref.sig.h5
tests/elegant_test/Athos_ref.twi
tests/elegant_test/Athos_ref.twi.h5
tests/elegant_test/wake_S30CB15.UDCP100.sdds
tests/elegant_test/wake_S30CB15.UDCP200.sdds
tests/elegant_test/wake_SARUN18.UDCP010.sdds
tests/elegant_test/wake_SARUN18.UDCP020.sdds
tests/elegant_test/wake_SATCL02.UDCP100.sdds
tests/elegant_test/wake_SATCL02.UDCP200.sdds
tests/elegant_test/wake_SATCL02.UDCP300.sdds
tests/elegant_test/wake_SATCL02.UDCP400.sdds
tests/elegant_test/wake_SATDI01.UDCP100.sdds
tests/elegant_test/wake_SATDI01.UDCP200.sdds
tests/elegant_test/wake_SATMA01.UDCP015.sdds
tests/elegant_test/wake_SATMA02.UDCP045.sdds
tests/elegant_test/wake_l_C-band.sdds
tests/elegant_test/wake_l_S-band.sdds
tests/elegant_test/wake_l_X-band.sdds
tests/elegant_test/wake_t_C-band.sdds
tests/elegant_test/wake_t_S-band.sdds
tests/elegant_test/wake_t_X-band.sdds

